.horloge{
    /* background:white; */
    border-radius:50%;
    width:450px;
    height:450px;
    border:5px solid white; 
    display:flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    margin: 1em;
}

body {
    background-color: #b80d0d;
    font-family: "Oswald", sans-serif;
    width: 97vw;
    height: 97vh;
    color:white;
}





#time{
    font-size: 8em;   
}

div {
    display: flex;
    justify-content:center;
    align-items: center;
}

.etape {
    display: flex;         
    justify-content: center;  
    align-items: center;     
    height: 2em;
    width: 20em;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    margin: 1em;
    padding: 1.5em;
}

p {
    margin: 1em;
    font-size: 2em;
}

.formulaire {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    flex-direction: column;
    margin: 2.75em;
}

.cacher {
    display: none;
}

.bouton {
    background-color: #b80d0d;
    color: white;
    border: white solid 2px;
    border-radius: 20px;
    padding: 0.5em 1em;
    font-size: 2em;
    cursor: pointer;
    margin:0.5em;
}

input {
    width:3em;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: white;
    margin:0;
    margin-bottom: 0.25em;
}

footer {
    background-color: rgb(54, 54, 54);
    display: flex;
    align-items: center;
    justify-content: center;
}

.actuel {
    color:rgb(255, 255, 255);
}

.attend {
    color:rgba(187, 187, 187, 0.747)
}

